.ChooseSection {
  width: 100%;
  position: relative;
  height: 100%;
  margin-bottom: 0px;
  padding: 80px;
  overflow: hidden;
}
.chooseHeading {
  text-align: start;
  position: relative;
  left: 6%;
}

.chooseHeading h1 {
  transition: all 0.35s ease-in-out;
  letter-spacing: 1px;
  font-size: 30px;
  width: 50%;
  padding: 15px;
  color: rgba(0, 0, 0, 0.795);
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: "Libre Baskerville", serif;
  border-left: 10px solid rgba(255, 0, 0, 0.671);
}

.chooseHeading h1 span {
  font-size: 50px;
}

.cards {
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px auto;
  flex-direction: row;
  height: auto;
  width: 100%;
  position: relative;
}

.dataLoading {
  font-family: "Roboto Serif", sans-serif;
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 40px;
}

.cardSection {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 5px;
  flex-wrap: wrap;
  flex-basis: 40%;
  margin: 0px 40px 50px 5px;
  padding: 20px;
  width: 100%;
  height: 100%;
  align-items: stretch;
  position: relative;
  border-right: 5px solid rgb(22, 210, 223);
  z-index: 1;
}

.cardSection:hover {
  border-top: none;
}

.cardSection > span {
  position: absolute;
  background-color: rgb(22, 210, 223);
  z-index: -1;
  width: 50%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  top: -6%;
  left: -4%;
}

.cardSection > div {
  text-align: start;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.cardSection h1 {
  text-align: start;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 25px;
}
.cardSection h2 {
  text-align: start;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.cardSection h2 > span {
  text-align: center;
  font-family: "Roboto Serif", sans-serif;
  font-size: 12px;
  color: red;
  margin-bottom: 5px;
}
.cardSection h4 {
  text-align: center;
  font-family: "Roboto Serif", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
  margin-bottom: 5px;
}

.cardSection p {
  font-family: "Roboto Serif", sans-serif;
  color: black;
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  text-justify: inter-word;
  text-align: justify;
}

.cardSection a {
  padding-left: 5px;
  font-family: "Roboto Serif", sans-serif;
}

.cardSection a:hover {
  color: green;
}

.cardSection p:last-child {
  font-family: "Roboto Serif", sans-serif;
  color: black;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  text-align: start;
}

.authorName {
  margin-top: 60px;
}

.frequent {
  margin-top: -40px;
}
@media screen and (max-width: 1457px) {
  .cardSection {
    flex-basis: 45%;
  }
  .chooseHeading {
    text-align: start;
    position: relative;
    left: 0%;
  }
  .chooseHeading h1 {
    width: 70%;
  }
  .ChooseSection {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .cardSection {
    flex-basis: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .cardSection > span {
    width: 40%;
    left: -8%;
  }

  .ChooseSection {
    width: 100%;
    padding-right: 0px;
  }
  .chooseHeading {
    left: 4%;
  }
}

@media screen and (max-width: 1030px) {
  .cardSection {
    flex-basis: 90%;
  }
  .cardSection > span {
    width: 45%;
  }
  .chooseHeading h1 {
    width: 80%;
  }
  .chooseHeading {
    left: -2%;
  }
}

@media screen and (max-width: 768px) {
  .cardSection {
    flex-basis: 95%;
    margin: 0px 5px 50px 5px;
  }
  .ChooseSection {
    padding-left: 20px;
  }
  .cardSection > span {
    width: 50%;
    left: -4%;
  }

  .chooseHeading h1 {
    width: 90%;
    font-size: 25px;
    border-left: 5px solid red;
  }
  .chooseHeading {
    left: 3%;
    margin-top: -20px;
  }
}

@media screen and (max-width: 500px) {
  .cardSection > span {
    width: 80%;
    height: 80%;
  }
  .chooseHeading h1 {
    width: 98%;
    font-size: 20px;
  }
}
