.scrollUp {
  position: fixed;
  margin: 0 auto;
  text-align: center;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  background: transparent;
  border: none;
  margin-top: 10px;
}
.fascroll {
  background: #3a1c71;
  background: -webkit-linear-gradient(to bottom, #3a1c71, #d76d77, #ffaf7b);
  background: linear-gradient(to bottom, #3a1c71, #d76d77, #ffaf7b);
  width: 3em;
  height: 100%;
  left: 0px;
  padding: 5px;
  transition: width 0.25s ease-in-out 0.25s;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
